h1 {
    text-align: center;
    padding: 30px;
}

.ship__details__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}
